//- Include config.pug file that holds all variables
block config
  include ../helpers/config

//- Mixins - reusable code snippets
include ../helpers/mixins

doctype html
html(lang="en")

  //- head.pug template
  include head 
  
  // Body
  body()&attributes((typeof(bodyBgImage) !== 'undefined') ? {'style': 'background-image: url(' + bodyBgImage + ');'} : '')

    include navbar-ghost

    // Page Content
    block content
    
    // Back To Top Button
    a(href='#').scroll-to-top-btn
      i.fe-icon-chevron-up

    // Backdrop
    .site-backdrop
    
    // JavaScript (jQuery) libraries, plugins and custom scripts
    script()&attributes(isNestedFile ? {'src': '../js/vendor.min.js'} : {'src': 'js/vendor.min.js'})
    if isCardScript
      script()&attributes(isNestedFile ? {'src': '../js/card.min.js'} : {'src': 'js/card.min.js'})
    script()&attributes(isNestedFile ? {'src': '../js/theme.min.js'} : {'src': 'js/theme.min.js'})
