a(href='https://www.linkedin.com/company/gorilly-digital/?' data-toggle='tooltip' data-placement='top' title='Linked in').social-btn.sb-style-6.sb-linkedin
    i.socicon-linkedin
a(href='https://github.com/gorilly-digital' data-toggle='tooltip' data-placement='top' title='Github').social-btn.sb-style-6.sb-github
    i.socicon-github
a(href='https://fb.me/gorillydigital' data-toggle='tooltip' data-placement='top' title='facebook').social-btn.sb-style-6.sb-facebook
    i.socicon-facebook
a(href='https://www.instagram.com/gorilly_digital/' data-toggle='tooltip' data-placement='top' title='Instagram').social-btn.sb-style-6.sb-instagram
    i.socicon-instagram
a(href='https://twitter.com/gorilly_digital' data-toggle='tooltip' data-placement='top' title='Twitter').social-btn.sb-style-6.sb-twitter
    i.socicon-twitter
a(href='https://dribbble.com/gorilly_digital' data-toggle='tooltip' data-placement='top' title='Dribble').social-btn.sb-style-6.sb-dribbble
    i.socicon-dribbble
a(href='https://www.youtube.com/channel/UCx8vvDupnvHILLVw0yt_ogw' data-toggle='tooltip' data-placement='top' title='YoutTube').social-btn.sb-style-6.sb-youtube
    i.socicon-youtube